<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="CustomParallelSuite"  thread-count="3">
<test  name="Test" parallel="classes">
    <classes>
      <class name="TestCases.RegistrationCases"/>
       <class name="TestCases.LoginCases"/>
      <class name="TestCases.CreateFormCases"/>
       </classes>
      </test>
      <test name="sequential">
      <classes>
      <class name="TestCases.SearchFields"></class>
      <class name="TestCases.UpdateFields"/>
      <class name="TestCases.AddFormData"/>
      <class name="TestCases.DeleteForm"/>
      <class name="TestCases.CreateFormCases"/>
      <class name = "TestCases.StepForm"/>
      <class name ="TestCases.DeleteAll"/>
      </classes>
   
  </test> <!-- Test -->
</suite> <!-- Suite -->
